<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.neraud.padlistener"
    android:versionCode="2"
    android:versionName="0.9.2" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".gui.MainActivity"
            android:label="@string/label_main_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.SettingsActivity"
            android:label="@string/label_settings" />
        <activity
            android:name=".gui.SwitchListenerActivity"
            android:label="@string/label_settings" />
        <activity
            android:name=".gui.ViewMonsterInfoActivity"
            android:label="@string/label_view_monster_info_activity" />
        <activity
            android:name=".gui.FetchPadHerderMonsterInfoActivity"
            android:label="@string/label_fetch_padherder_monster_info_activity" />
        <activity
            android:name=".gui.ViewCapturedDataActivity"
            android:label="@string/label_viewCapturedData" />

        <service
            android:name=".service.ListenerService"
            android:exported="false" />
        
        <service
            android:name=".service.FetchPadHerderMonsterInfoService"
            android:exported="false"/>
        <service
            android:name=".service.FetchPadHerderMonsterImageService"
            android:exported="false"/>
        

        <provider
            android:name=".provider.PlayerInfoProvider"
            android:authorities="fr.neraud.padlistener.provider.player_info"
            android:exported="true" />
        <provider
            android:name=".provider.PlayerMonsterProvider"
            android:authorities="fr.neraud.padlistener.provider.player_monster"
            android:exported="true" />
        <provider
            android:name=".provider.MonsterInfoProvider"
            android:authorities="fr.neraud.padlistener.provider.monster_info"
            android:exported="true" />
    </application>

</manifest>