<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="fr.neraud.padlistener"
	android:versionCode="58"
	android:versionName="2.1.10">

	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="23" />

	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:xlargeScreens="true" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

	<application
		android:allowBackup="true"
		android:name=".PadListenerApp"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<activity
			android:name=".ui.activity.HomeActivity"
			android:label="@string/label_home">
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.activity.SettingsActivity"
			android:label="@string/label_settings" />
		<activity
			android:name=".ui.activity.SwitchListenerActivity"
			android:label="@string/label_switch_listener" />
		<activity
			android:name=".ui.activity.ViewMonsterInfoActivity"
			android:label="@string/label_view_monster_info_activity" />
		<activity
			android:name=".ui.activity.ViewCapturedDataActivity"
			android:label="@string/label_viewCapturedData" />
		<activity
			android:name=".ui.activity.ManageIgnoreListActivity"
			android:label="@string/label_manageIgnoreList" />
		<activity
			android:name=".ui.activity.ComputeSyncActivity"
			android:label="@string/label_computeSync" />
		<activity
			android:name=".ui.activity.ChooseSyncActivity"
			android:label="@string/label_chooseSync" />
		<activity
			android:name=".ui.activity.PushSyncActivity"
			android:label="@string/label_pushSync" />
		<activity
			android:name=".ui.activity.FilterFriendsChooseLeadersActivity"
			android:label="@string/label_filterFriendChooseLeaders" />
		<activity
			android:name=".ui.activity.FilterFriendsListUselessActivity"
			android:label="@string/label_filterFriendListUseless" />


		<service
			android:name=".service.ListenerService"
			android:exported="false" />
		<service
			android:name=".service.AutoCaptureService"
			android:exported="false" />
		<service
			android:name=".service.FetchPadHerderMonsterInfoService"
			android:exported="false" />
		<service
			android:name=".service.ComputeSyncService"
			android:exported="false" />
		<service
			android:name=".service.PushSyncService"
			android:exported="false" />
		<service
			android:name=".service.AutoSyncService"
			android:exported="false" />


		<provider
			android:name=".provider.CapturedPlayerInfoProvider"
			android:authorities="fr.neraud.padlistener.provider.player_info"
			android:exported="true"
			tools:ignore="ExportedContentProvider" />
		<provider
			android:name=".provider.CapturedPlayerMonsterProvider"
			android:authorities="fr.neraud.padlistener.provider.player_monster"
			android:exported="true"
			tools:ignore="ExportedContentProvider" />
		<provider
			android:name=".provider.CapturedPlayerFriendProvider"
			android:authorities="fr.neraud.padlistener.provider.player_friend"
			android:exported="true"
			tools:ignore="ExportedContentProvider" />
		<provider
			android:name=".provider.CapturedPlayerFriendLeaderProvider"
			android:authorities="fr.neraud.padlistener.provider.player_friend_leader"
			android:exported="true"
			tools:ignore="ExportedContentProvider" />
		<provider
			android:name=".provider.MonsterInfoProvider"
			android:authorities="fr.neraud.padlistener.provider.monster_info"
			android:exported="true"
			tools:ignore="ExportedContentProvider" />
	</application>

</manifest>